body {
  margin: 0px;
  padding: 0px;
}

#ctn-main {
  padding-left: 0px;
  padding-right: 0px;
}


.btn-inicio {
  background-image: url(../images/btn-inicio.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  height: 700px;
  padding-top: 270px;
}

.link-inicio {
  font-size: 90px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.link-inicio:hover {
  color: black;
  text-decoration: none;
}

/* ------ style Login.html ---------     */
.ctn-login {
  background: #444c5f;
  border-radius: 30px;
  padding-bottom: 20px;
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.header-login {
  background: #24c79b;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.input-login {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
.input-login:focus {
  background: none;
  color: white;
}

.btn-ingreso {
  background: #24c79b85 !important;
  color: white;
  margin-top: 15px;
}

.btn-links-login {
  color: white;
  font-size: 12px;
  text-decoration: none !important;
}
.btn-links-login:hover {
  color: white;
  text-decoration: none !important;
}

.img-footer-brand {
  position: absolute;
  right: 30px;
  bottom: 20px;
}


.modal-content{
  background: transparent !important;
  border: none !important;
}



// ------ Nivel Educativo ------

.btn-basica-primaria{
  background: white; 
  color: black;
  padding: 10px; 
  border: 1px solid gray; 
  margin-top: 35%;
}
.btn-lvl-educativo{
  background: rgb(22,142, 202); 
  border: 2px solid rgb(243, 172, 51);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 10px; 
  margin-top: 15px;
  width: 100%;
}

.masthead-basica{
  position:relative;width:100%;
  padding-top:150px;
  padding-bottom:100px;
  color:#fff;
  background:url(../images/bg-pattern.png),#7b4397;
  background:url(../images/bg-pattern.png),-webkit-gradient(linear,right top,left top,from(#7b4397),to(#dc2430));
  background:url(../images/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430)}

